contactSection {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #2f2f2f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 80vh;
}