workSection {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #f8f9fa;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30vh;
}
